[project]
	description = ??????? ?????? ?? SDL-?
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kostov
[access "refs/for/refs/*"]
	read = group user/kostov
	push = group user/kostov
	label-Code-Review = -2..+2 group user/kostov
	label-Verified = -1..+1 group user/kostov
	rebase = group user/kostov
	removeReviewer = group user/kostov
	submit = group user/kostov
[access "refs/heads/*"]
	read = group user/kostov
	create = group user/kostov
	push = +force group user/kostov
	pushMerge = group user/kostov
[access "refs/tags/*"]
	push = +force group user/kostov
	pushTag = group user/kostov
	pushSignedTag = group user/kostov
